/* INFORMATIONS  */

#InfoContainer {  
    width: 100%;
    height: 100%;
    position: fixed;
    left: 1.5%;
    top: 50%;
    z-index: 999;
    max-width: 400px;
    max-height: 95%;
    transform: translateY(-50%);
    border-radius: 10px;  
    background-color: white;  
    overflow: scroll;
  }
  
  .NotMobile .Info-map, .NotMobile .CardContainer{
    display: none;
  }
  
  .Info-scroller{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .Infos-Like{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 500;
      backdrop-filter: blur(33px);
      -webkit-backdrop-filter: blur(33px);
      padding: 5px 10px;
      border-radius: 10px;
      background-color: rgb(0 0 0 / 10%);
  }
  
  .Infos-Like .Heart{
    color: #dd0e34;
    margin-left: 4px;
    font-size: 1.2rem;
  }
  
  .Infos-Like-Value{
    color: white;
    text-shadow: 0px 0px 4px rgb(0 0 0 / 50%);
  }
  
  .Info-weather {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    padding: 5px 0;
    box-shadow: var(--Shadow);
    background-color: white;
    margin: 20px 0;
  }
  
  .Info-Weather-Status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .Info-Weather-Update {
    font-size: 0.6em;
  }
  
  .Info-Weather-Desc {
    text-transform: capitalize;
  }
  
  .Info-Weather-Temp {
    margin-right: 8px;
  }
  
  .Info-Weather-Numbers {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Info-Weather-Numbers img {
    width: 28px;
  }
  
  
  .Info-weather-small {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 500;
    backdrop-filter: blur(33px);
    -webkit-backdrop-filter: blur(33px);
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 10%);
  }
  
  .Info-Weather-Temp-small {
    margin-right: 8px;
    color: white;
    text-shadow: 0px 0px 4px rgb(0 0 0 / 50%);
  }
  
  .Info-Weather-Numbers-small {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Info-Weather-Numbers-small img {
    width: 28px;
  }
  
  .Info-DepartLink {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: fit-content;
    background: var(--Theme);
    border-radius: 6px;
    padding: 5px 10px;
    color: white;
    margin-top: 30px;
  }
  
  
.Info-container{
    padding: 12px;
  }
  
  .Info-Header {
    margin-top: -64px;
    z-index: 9;
    position: relative;
  }
  
  .Info-type {
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateY(-100%); */
  }
  
  .Info-type img{
    border: 5px solid white;
    border-radius: 100px;
    box-shadow: 5px 4px 10px rgb(0 0 0 / 28%);
  }
  
  .Info-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .Info-data h1{
    font-size: 1.5em;
    font-weight: 900;
    font-size: 16pt;
    color: var(--Theme);
  }
  
  .Info-data p {
    color: var(--SecondText);
    font-weight: 400;
    font-size: 10pt;
    text-align: center;
    padding: 0 10px;
  }
  
  .Info-stats{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;  
  }
  
  .Info-stat {
    min-width: 33%;
  }
  
  .Info-stat h3{
    color: var(--SecondText);
    font-weight: 700;
    font-size: 9pt;
    margin: 10px auto;
  }
  
  .Info-stat span {
      color: var(--Theme);
      font-weight: 800;
      font-size: 12pt;
  }
  
  .Info-note{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    padding: 10px;
    flex-wrap: wrap;
  }
  
  .Info-Review{
      color: var(--SecondText);
      font-size: 9pt;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  
  .Info-Review-User{
    flex-basis: 14%;
  }
  
  .Info-Review-Text{
    flex-basis: 72%;
  }

  
.Info-Review-User img{
    width: 100%;
    border-radius: 100px;
    border: 4px solid var(--DivcolorBis);
    box-shadow: 1px 3px 7px rgb(0 0 0 / 20%);
  }
  
  .Info-Smiley{
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .Info-Emoji{
    font-size: 1em;
    opacity: .5;
  }
  
  .FocusEmoji{
    font-size: 2em;
    opacity: 1;
  }
  
  #Info-map{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
  }
  
  .Info-chart{
    width: 100%;
    height: 200px;
    background-color: white;
  }
  
  
.Info-gpx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  
.data-gpx{
    flex: 0 0 28%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    border-radius: 16px;
    box-shadow: rgb(149 157 165 / 10%) 0px 5px 11px;
  }
  
  .data-gpx .name{
    color: var(--SecondText);
    font-size: 9pt;
    font-weight: 600;
  }
  
  .data-gpx h4{
    margin: 0;
    color: var(--MainText);
  }
  
  .data-gpx .Icons{
    font-size: 1.3em;
    font-weight: 900;
  }
  .data-gpx:nth-child(1) .Icons{
    color: #e74c3c;
    --fa-animation-duration: 1s;
  }
  .data-gpx:nth-child(2) .Icons{
    color: #27ae60;
    --fa-animation-duration: 3s;
  }
  .data-gpx:nth-child(3) .Icons{
    color: #ffaf40;
    --fa-animation-duration: 4s;
  }
  .data-gpx:nth-child(4) .Icons{
    color: #17c0eb;
    --fa-animation-duration: 2s;
  }
  .data-gpx:nth-child(5) .Icons{
    color: #34495e;
    --fa-animation-duration: 2s;
  }
  .data-gpx:nth-child(6) .Icons{
    color: #f1c40f;
    --fa-animation-duration: 2s;
  }
  