@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Mochiy+Pop+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

:root{
  --DesktopPathLength2 : 1000;
  --DesktopPathLength25 : 1000;
  --Theme: #18224c;
  --MainText: #1e293a;
  --SecondText : #a9aeb4;
  --Shadow : rgb(149 157 165 / 10%) 0px 5px 11px;
  --rate : #fad803;
  --rate-off : #8b7019;
  --radius : 12px;

  --card-bg : #1b1a1d;
  --chart : #4CAF50;
  --text : #ffffff;
  --marker-color : #ffffff;

  --volcan: rgb(255 106 76);
  --foret : rgb(159 208 91);
  --lac : rgb(0 179 255);
  --cascade : rgb(1 207 186);
  --montagne : rgb(254 154 74);
  --interest : rgb(246 193 56);
}

html, body{
  width: 100%;
  height : 100%;
  padding: 0;
  margin: 0;
}

#root, .App{
  width: 100%;
  height: 100%;
}

.App{
  overscroll-behavior: contain;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.BlockScroll{
  overflow: hidden!important;
}


*{
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Titillium Web', sans-serif; 
  /* font-family: "Share Tech", sans-serif; */
  scroll-padding: 0;
  scrollbar-width: none!important;
  scroll-behavior: smooth;
}

::-webkit-scrollbar { display: none; }

.Focus-Marker { z-index: 9997!important; }

/* Leaflet */

.Dark .leaflet-layer,
.Dark .leaflet-control-zoom-in,
.Dark .leaflet-control-zoom-out,
.Dark .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-container{
  width: 100%;
  height: 100%;
}

.leaflet-control-container {
  display: none;
}


.leaflet-popup-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ButtonPopup{
  background-color: var(--Theme);
  color: white;
  text-decoration: none;
  font-size: .875em;
  border-radius: 100px;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  margin-top: 8px;
}

/* Settings */

.Settings-Button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
  height: 28px;
  z-index: 9999;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  cursor: pointer;
}

.Settings-Filtres-Container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Settings-Filtre-Icon {
  width: 48px;
  height: 48px;
  background-size: cover;
  cursor: pointer;
  opacity: .5;
}

.Settings-Filtre-Icon.Active{
  opacity: 1;
}

.Settings-Mode-Container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Mode-Button {
  width: 34px;
  height: 34px;
  font-size: 1.2em;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin: 5px;
  transition: .4s;
  cursor: pointer;
}

.Mode-Button.Active{
  background-color: var(--Theme);
  color: white;
}

.Settings-Menu {
  position: fixed!important;
  right: 0%!important;
  top: 50%!important;
  z-index: 9998!important;
  max-width: 400px!important;
  max-height: 95%!important;
  transform: translateX(100%) translateY(-50%);
  border-radius: 10px;
  background: #ffffff;
  transition: .4s;
  overflow: scroll;
}

.Settings-Menu.true{
  transform: translateX(-3%) translateY(-50%);
}

.Settings-Filtres {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Settings-Thumb-Container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
}

.Settings-Thumb {
  background-position: center;
  background-size: cover;
  width: 94px;
  height: 94px;
  margin-bottom: 10px;
  border-radius: 8px;
}


/* THE MAP */
#MapContainer {
  width: 100%;
  height: 100%;
  position: relative;
}


/* Slideshow  */

.Slideshow-container{
  position: relative;
}

.Slideshow-element{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  background-position: center;
  background-size: cover;
  overflow-x: scroll;
  overflow-y: hidden; */
}


.Slideshow-img{
  width: 100%;
  height: 100%;
  background-size: cover;
  /* scroll-snap-align: start;
  scroll-snap-stop: always; */
  position: relative;
  min-width: 100%;
  background-position: center;
}

.Slideshow-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Slideshow-element.false{
  touch-action: pan-right!important;
}

.Slideshow-smoke {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  z-index: 2;
}

.Desktop-Scroll {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.Desktop-Scroll:hover .Right, .Desktop-Scroll:hover .Left{
  opacity: 1;
  background: rgb(0 0 0 / 10%)
}

.Desktop-Scroll .Left {
  width: 25%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  font-size: 50px;
  color: white;
  opacity: 0;
  transition: .4s;
}

.Desktop-Scroll svg{
  pointer-events: none;
}

.Desktop-Scroll .Right {
  width: 25%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  font-size: 50px;
  color: white;
  opacity: 0;
  transition: .4s;
}


hr {
  height: 1px;
  background: #e7e7e7;
  width: 80%;
  border: none;
  margin: 10px 0;
  border-radius: 100%;
}

.HideChart{
  display: none;
}

tspan {
  font-size: 0.7em;
}

.custom-tooltip {
  background: white;
  border-radius: 8px;
  padding: 0px 10px;
  font-size: .8em;
  box-shadow: rgb(0 0 0 / 14%) 0px 5px 11px
}

/* GPX */


/* MARKERS & PATH */

.MoveIcon{
  transition: .2s;
}

@-webkit-keyframes move {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes move {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes move {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes move {
  to {
    stroke-dashoffset: 0;
  }
}

.PathDesktop {
  fill: none;
  stroke-linecap: square;
  opacity: 1;
  -webkit-animation: 5s move 4s linear forwards infinite;
  animation: 5s move 0s linear forwards infinite;
}

.PathDesktop-2{
  stroke-dasharray: var(--DesktopPathLength2);
  stroke-dashoffset: var(--DesktopPathLength2);
}

.PathDesktop-25{  
  stroke-dasharray: var(--DesktopPathLength25);
  stroke-dashoffset: var(--DesktopPathLength25);
}

.fa-beat {
  -webkit-animation-name: fa-beat;
  animation-name: fa-beat;
  -webkit-animation-delay: var(--fa-animation-delay, 0);
  animation-delay: var(--fa-animation-delay, 0);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
  animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
  animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(
    --fa-animation-iteration-count,
    infinite
  );
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, ease-in-out);
  animation-timing-function: var(--fa-animation-timing, ease-in-out);
}

.fa-bounce {
  -webkit-animation-name: fa-bounce;
  animation-name: fa-bounce;
  -webkit-animation-delay: var(--fa-animation-delay, 0);
  animation-delay: var(--fa-animation-delay, 0);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
  animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
  animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(
    --fa-animation-iteration-count,
    infinite
  );
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(
    --fa-animation-timing,
    cubic-bezier(0.28, 0.84, 0.42, 1)
  );
  animation-timing-function: var(
    --fa-animation-timing,
    cubic-bezier(0.28, 0.84, 0.42, 1)
  );
}

.fa-spin {
  -webkit-animation-name: fa-spin;
  animation-name: fa-spin;
  -webkit-animation-duration: var(--fa-animation-duration, 2s);
  animation-duration: var(--fa-animation-duration, 2s);
  -webkit-animation-iteration-count: var(
    --fa-animation-iteration-count,
    infinite
  );
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, linear);
  animation-timing-function: var(--fa-animation-timing, linear);
}

.fa-shake {
  -webkit-animation-name: fa-shake;
  animation-name: fa-shake;
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
  animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(
    --fa-animation-iteration-count,
    infinite
  );
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, linear);
  animation-timing-function: var(--fa-animation-timing, linear);
}

@-webkit-keyframes fa-beat {
  0%,
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(var(--fa-beat-scale, 1.25));
    transform: scale(var(--fa-beat-scale, 1.25));
  }
}
@keyframes fa-beat {
  0%,
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(var(--fa-beat-scale, 1.25));
    transform: scale(var(--fa-beat-scale, 1.25));
  }
}

@-webkit-keyframes fa-bounce {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  10% {
    -webkit-transform: scale(
        var(--fa-bounce-start-scale-x, 1.1),
        var(--fa-bounce-start-scale-y, 0.9)
      )
      translateY(0);
    transform: scale(
        var(--fa-bounce-start-scale-x, 1.1),
        var(--fa-bounce-start-scale-y, 0.9)
      )
      translateY(0);
  }
  30% {
    -webkit-transform: scale(
        var(--fa-bounce-jump-scale-x, 0.9),
        var(--fa-bounce-jump-scale-y, 1.1)
      )
      translateY(var(--fa-bounce-height, -0.5em));
    transform: scale(
        var(--fa-bounce-jump-scale-x, 0.9),
        var(--fa-bounce-jump-scale-y, 1.1)
      )
      translateY(var(--fa-bounce-height, -0.5em));
  }
  50% {
    -webkit-transform: scale(
        var(--fa-bounce-land-scale-x, 1.05),
        var(--fa-bounce-land-scale-y, 0.95)
      )
      translateY(0);
    transform: scale(
        var(--fa-bounce-land-scale-x, 1.05),
        var(--fa-bounce-land-scale-y, 0.95)
      )
      translateY(0);
  }
  57% {
    -webkit-transform: scale(1) translateY(var(--fa-bounce-rebound, -0.125em));
    transform: scale(1) translateY(var(--fa-bounce-rebound, -0.125em));
  }
  64% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  to {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
}
@keyframes fa-bounce {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  10% {
    -webkit-transform: scale(
        var(--fa-bounce-start-scale-x, 1.1),
        var(--fa-bounce-start-scale-y, 0.9)
      )
      translateY(0);
    transform: scale(
        var(--fa-bounce-start-scale-x, 1.1),
        var(--fa-bounce-start-scale-y, 0.9)
      )
      translateY(0);
  }
  30% {
    -webkit-transform: scale(
        var(--fa-bounce-jump-scale-x, 0.9),
        var(--fa-bounce-jump-scale-y, 1.1)
      )
      translateY(var(--fa-bounce-height, -0.5em));
    transform: scale(
        var(--fa-bounce-jump-scale-x, 0.9),
        var(--fa-bounce-jump-scale-y, 1.1)
      )
      translateY(var(--fa-bounce-height, -0.5em));
  }
  50% {
    -webkit-transform: scale(
        var(--fa-bounce-land-scale-x, 1.05),
        var(--fa-bounce-land-scale-y, 0.95)
      )
      translateY(0);
    transform: scale(
        var(--fa-bounce-land-scale-x, 1.05),
        var(--fa-bounce-land-scale-y, 0.95)
      )
      translateY(0);
  }
  57% {
    -webkit-transform: scale(1) translateY(var(--fa-bounce-rebound, -0.125em));
    transform: scale(1) translateY(var(--fa-bounce-rebound, -0.125em));
  }
  64% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  to {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@-webkit-keyframes fa-shake {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  4% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  8%,
  24% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  12%,
  28% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  20% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  32% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  36% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  40%,
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes fa-shake {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  4% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  8%,
  24% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  12%,
  28% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  20% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  32% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  36% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  40%,
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}


/* Mobile */

@media (max-width: 800px) {

  .Horizontal{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior: none;
  }

  .Horizontal .Settings-Button{
    /* position: fixed; */
  }

  .Settings-Menu {
      position: fixed!important;
      right: 50%!important;
      bottom: 0%!important;
      z-index: 9998!important;
      width: 90%!important;
      max-width: 400px!important;
      max-height: 95%!important;
      transform: translateX(50%) translateY(100%);
      border-radius: 10px;
      background: #ffffff;
      transition: .4s;
      overflow: scroll;
    }

    .Settings-Menu.true{
      transform: translateX(50%) translateY(-2%);
    }


    .Horizontal #MapContainer, .Horizontal #InfoContainer{
      min-width: 100%;
      scroll-snap-align: center;
    }
    
    .Slideshow-element{
      /* overflow-y: hidden;
      overflow-x: scroll; */
    }

    .Desktop-Scroll{
      display: none;
    }
    
}